@model IEnumerable<string>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thumbnail Gallery</h1>
        </div>
        @foreach (var file in Model)
        {
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <img class="img-responsive" src="http://127.0.0.1:10000/devstoreaccount1/@file" alt="">
            </div>
        }
    </div>
</div>